.peep {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}

.peep h3 {
	margin: 0 0 0.25rem 0;
}

.likeBtn {
	height: 38px;
	padding: 0px;
	font-size: 11px;
	background-color: transparent;
	border-radius: 6px;
}

.buttonPosition {
	margin: auto;
	margin-bottom: 2%;
	text-align: center;
	float: left;
	display: flex;
	justify-content: center;
	display: grid;
	border-radius: 50%;
	padding: 10px;
	font-size: 10px;
	background-color: #06768a;
	color: white;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: medium;
	font-weight: bold;
}
